html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  /* clip: rect(0, 0, 0, 0);
  clip-path: inset(50%); */
  margin: -1px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
body {
  padding: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto 20px;
}
.search-form__input {
  margin-right: 10px;
}
.search-form__button {
  cursor: pointer;
  transition: all 0.3s linear;
}
.search-form__button:hover {
  background-color: rgb(17, 218, 101);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  color: aliceblue;
}
.search-form__button,
.search-form__input {
  padding: 10px 20px;
  border: 1px solid rgb(17, 218, 101);
  border-radius: 20px;
  outline: none;
  background: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.photo-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  transition: all 0.3s linear;
  cursor: pointer;
}
.photo-card:last-child {
  margin: 0;
}
.photo-card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}
.photo-card__img-box {
  width: 100%;
  height: 100%;
}
.photo-card__img {
  object-fit: cover;
}
.photo-card__stats {
  position: absolute;
  left: 0;
  bottom: 0;
}
.stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}
.photo-card:hover .stats {
  opacity: 1;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  width: 24%;
  font-size: 12px;
  color: rgba(218, 17, 17, 0.5);
  transition: all 0.3s linear;
}
.stats-item:hover .material-icons {
  color: rgba(218, 17, 17, 1);
}
.stats-item:hover {
  color: rgba(218, 17, 17, 1);
}
.material-icons.md-18 {
  font-size: 18px;
  color: rgba(218, 17, 17, 0.5);
  transition: all 0.3s linear;
}
.photo-card__stats {
  padding: 3px;
  background-color: rgba(17, 218, 101, 0.4);
}
.photo-card__stats:hover {
  background-color: rgba(17, 218, 101, 1);
}

@media (min-width: 400px) {
  .photo-card {
    width: 48%;
  }
  .photo-card:nth-last-child(-n + 2) {
    margin: 0;
  }
}
@media (min-width: 600px) {
  .photo-card {
    width: 32%;
  }
  .photo-card:nth-last-child(-n + 3) {
    margin: 0;
  }
}
@media (min-width: 1000px) {
  .photo-card {
    width: 24%;
  }
  .photo-card:nth-last-child(-n + 4) {
    margin: 0;
  }
}
