:root {
  --sliders: 7;
}

.container {
  max-width: 900px;
  min-width: 300px;
  margin: 0 auto;
}

* {
  /* outline: 1px solid blue; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
} */

.body {
  padding: 10px;
}
.main {
}

.task {
  border: 2px solid black;
  padding: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__input {
  margin-bottom: 10px;
}
.button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* SLIDER */
.slider {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.slide {
  flex-basis: 90%;
  flex-grow: 1;
  height: 100%;
  transition: all 0.5s ease-out;
}

.slide:not(:last-child) {
  margin-right: 5px;
}

.slide--small {
  padding: 0;
  height: 20px;
  cursor: pointer;
  flex-grow: 0;
  flex-basis: 1%;
  font-size: 0;
  opacity: 0.2;
}

.slider__nav {
  display: flex;
  justify-content: space-between;
}

.display-none {
  display: none;
}
