.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* * {
  outline: 1px solid blue;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

.wraper {
  width: 1200px;
  margin: 0px auto;
}

ul,
li {
  display: block;
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* MAIN MENU */

.main-menu {
  min-width: 90px;
  min-height: 100px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
  line-height: 1.2;
}

.main-menu__logo {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.main-menu__nav {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}

.main-menu__nav-item:not(:last-child) {
  margin-right: 54px;
}

.main-menu__nav-item-link {
  display: flex;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  border-top: 3px solid rgba(243, 129, 129, 0);
  border-bottom: 3px solid rgba(243, 129, 129, 1);
  border-color: transparent;
  transition: all 0.2s linear;
}

.main-menu__nav-item-link:focus,
.main-menu__nav-item-link:hover {
  color: #f38181;
  border-top: 3px solid rgba(243, 129, 129, 0);
  border-bottom: 3px solid rgba(243, 129, 129, 1);
  padding-bottom: 10px;
}

/* SERVICES */

.main-content {
  padding-bottom: 64px;
}

.section {
  padding: 90px 0 20px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__heading-decor {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  margin-bottom: 18px;
  text-align: center;
  text-transform: none;
}

.section__heading {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0 0 64px;
}

.section__heading::after {
  background-color: rgb(243, 129, 129);
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 40px auto 0;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.servises__item {
  flex-basis: 380px;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
}

.servises__item:nth-child(-n + 3) {
  margin-bottom: 20px;
}

.servises__item-box {
  display: flex;
  flex-direction: column;
}

.servises__item-heading {
  margin: 0 0 14px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.servises__item-descript {
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  min-height: 120px;
}

.servises__item::before {
  content: "";
  display: block;
  flex-basis: 83px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 1;
  background: no-repeat;
  background-position: center;
}

.icon-clok::before {
  background-image: url(../img/icons/icon-clok.png);
}

.icon-trend::before {
  background-image: url(../img/icons/icon-trend.png);
}

.icon-monitor::before {
  background-image: url(../img/icons/icon-monitor.png);
}

.icon-book::before {
  background-image: url(../img/icons/icon-book.png);
}

.icon-house::before {
  background-image: url(../img/icons/icon-house.png);
}

.icon-box::before {
  background-image: url(../img/icons/icon-box.png);
}

/* TEAM */

.team {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.team__heading-about {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
  margin: 0;
  max-width: 980px;
  margin-bottom: 92px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

.team__list-member {
  position: relative;
}
.team__member-photo-box {
  position: relative;
  margin-bottom: 30px;
}

.team__member-photo-box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, rgb(252, 227, 138), rgba(243, 129, 129));
  opacity: 0;
  transition: all 0.2s linear;
}

.team__list-member:hover .team__member-photo-box::after {
  background: linear-gradient(to top, rgba(252, 227, 138), rgba(243, 129, 129));
  opacity: 0.9;
}

.team__list-member:hover .team__member-photo-box {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 0 rgb(149, 225, 211);
  transition: all 0.2s linear;
}

.team__list-member__social-list {
  display: flex;
  width: 227px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  z-index: 2;
}

.team__list-member__social-item {
  width: 56px;
  height: 56px;
  background-color: rgb(252, 227, 138);
  opacity: 0;
  transition: all 0.2s linear;
}

.team__list-member__social-item:nth-child(1) {
  background-image: url(../img/icons/facebook.png);
}

.team__list-member__social-item:nth-child(2) {
  background-image: url(../img/icons/twitter.png);
}

.team__list-member__social-item:nth-child(3) {
  background-image: url(../img/icons/pinterest.png);
}

.team__list-member__social-item:nth-child(4) {
  background-image: url(../img/icons/photo.png);
}

.team__list-member__social-item:focus,
.team__list-member__social-item:hover {
  background-color: #95e1d3;
  cursor: pointer;
}

.team__list-member:focus .team__list-member__social-item,
.team__list-member:hover .team__list-member__social-item {
  opacity: 1;
}

.team__list-member-name {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.team__list-member-position {
  display: block;
  margin: 0 auto;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  padding: 12px 0;
  border-top: 1px solid #cccccc;
}

.footer__copyright {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

.foter__copyright-link {
  text-decoration: none;
  color: #f38181;
}

.footer__placeholder-box {
  font-style: none;
  display: flex;
}

.footer__placeholder-email {
  min-width: 230px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: rgb(51, 51, 51);
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  padding-left: 14px;
  border: 1px solid #cccccc;
}

.footer__placeholder-box input::placeholder {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(204, 204, 204);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.footer__placeholder-btn {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  min-width: 150px;
  height: 40px;
  padding: 12px;
  background-color: rgb(149, 225, 211);
  border: none;
}
