.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wraper {
  width: 1110px;
  margin: 0px auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-menu {
  padding: 36px 0 106px 0;
}

.logo {
  display: inline-block;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: rgb(85, 82, 82);
  text-transform: uppercase;
  line-height: 32px;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.logo::first-letter {
  font-weight: 900;
  color: rgb(26, 188, 156);
}

.main-menu-nav {
  float: right;
  width: 470px;
  padding: 0;
  margin: 0;
}

.main-menu-link {
  float: left;
  list-style: none;
}

.main-menu-link {
  margin-right: 29px;
}
.main-menu-link:last-child {
  margin-right: 0px;
}

.main-menu-link a {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgb(15, 1, 1);
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.main-menu-link a:focus,
.main-menu-link a:hover {
  color: rgb(26, 188, 156);
}

.gallery {
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto 92px;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  font-weight: 900;
}

.section-title::after {
  content: "";
  display: block;
  margin: 26px auto 0;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 8px;
}

.featured {
  padding: 0px;
  margin: 0px;
}

.featured-item {
  float: left;
  display: block;
  width: 254px;
  margin: 0px 30px 30px 0px;
  background-color: rgb(233, 240, 253);
}

.featured-item:nth-child(4n) {
  margin-right: 0px;
}

.featured-item:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.featured-item a {
  display: block;
}

.featured-item-box {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 32px;
  text-align: left;
  font-weight: 900;
  background-color: rgb(50, 50, 50);
}

.featured-item-header {
  display: inline-block;
  float: left;
  width: 188px;
  height: 32px;
  margin: 0px;
  padding: 4px 0px 4px 12px;
}

.featured-item-price {
  display: inline-block;
  float: right;
  text-align: center;
  width: 54px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.439);
  padding: 4px 0px;
}

.featured-item:hover .featured-item-header {
  background-color: rgb(26, 188, 156);
}

.blog {
  padding-bottom: 82px;
}
.blog-items {
  padding: 0px;
  margin: 0px;
}

.blog-item {
  display: inline-block;
  float: left;
  width: 350px;
}

.blog-item:not(:last-child) {
  margin-right: 30px;
}

.blog-item-photo {
  margin-bottom: 16px;
}

.blog-item-header {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: rgb(85, 82, 82);
  line-height: 26px;
  font-weight: 600;
  margin: 0 0 26px 0;
}

.blog-item-header::after {
  content: "";
  display: block;
  background-color: rgb(26, 188, 156);
  width: 136px;
  height: 4px;
  margin-top: 10px;
}

.blog-item-paragraph {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: rgb(85, 82, 82);
  line-height: 26px;
  font-weight: 400;
  margin: 0 0 12px 0;
}

.blog-item-button {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 26px;
  text-align: center;
  font-weight: 300;
  border-radius: 3px;
  background-color: rgb(78, 198, 171);
  width: 160px;
  height: 52px;
  cursor: pointer;
  border: none;
}
