.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.wraper {
  width: 1110px;
  margin: 0px auto;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.main-menu {
  padding: 36px 0 100px 0;
}

.logo {
  display: inline-block;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: rgb(85, 82, 82);
  text-transform: uppercase;
  line-height: 32px;
  margin: 0px;
  padding: 0px;
}

.logo::first-letter {
  font-weight: bold;
  color: rgb(26, 188, 156);
}

.main-menu-nav {
  float: right;
  width: 470px;
  padding: 0;
  margin: 0;
}

.main-menu-link {
  float: left;
  list-style: none;
}

.main-menu-link {
  margin-right: 29px;
}
.main-menu-link:last-child {
  margin-right: 0px;
}

.main-menu-link a {
  display: block;
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  font-weight: bold;
  color: rgb(15, 1, 1);
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-menu-link a:focus,
.main-menu-link a:hover {
  color: rgb(26, 188, 156);
}

.featured {
}

.featured-items {
  float: left;
  width: 255px;
}

.blog-item {
  float: left;
  width: 350px;
}

/* .main-menu-nav {
  list-style: none;
  font-size: 0px;
  padding: 72px 0px 100px 0px;
  text-align: center;
} */

/* .main-menu-link {
  display: inline-block;
  margin-right: 106px;
} */

/* .main-menu-link:last-child {
  margin-right: 0px;
} */

/* .main-menu-link a {
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 24px;
} */

/* .main-menu-link a:focus,
.main-menu-link a:hover {
  color: rgb(3, 169, 243);
} */

/* .main-content {
  font-size: 0px;
} */

/* .main-section {
  display: inline-block;
  width: 420px;
  vertical-align: top;
  margin: 0px 60px 132px 0px;
} */

/* .main-section:nth-child(2n) {
  margin-right: 0px;
} */

/* .main-section:nth-last-child(-n + 2) {
  margin-bottom: 0px;
} */

/* .main-content {
  margin-bottom: 56px;
} */

/* .main-section-image {
  margin: 0px 0px 32px 0px;
} */

/* .main-section-text {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 300;
  margin: 0px 0px 32px 0px;
} */

/* .main-section-heading {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  margin: 0px 0px 40px 0px;
} */

/* .main-section-paragraph {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  margin: 0px;
} */

/* .main-button {
  text-align: center;
  padding-bottom: 72px;
} */

/* .main-button button {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  background-color: rgb(255, 255, 255);
  padding: 16px 32px;
  border: 1px solid rgb(98, 98, 98);
  cursor: pointer;
} */
