.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* * {
  outline: 1px solid blue;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

.wraper {
  width: 1110px;
  margin: 0px auto;
}

ul,
li {
  display: inline-block;
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}
.centring {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.background-header {
  background-color: #ffffff;
}

.background-main {
  background-color: #e9f0fd;
}
.background-footer {
  background-color: #323232;
}

.main-menu {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #555252;
  line-height: 32px;
  padding: 34px 0 30px;
}

.main-menu-logo {
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  float: left;
}

.main-menu-logo::first-letter {
  font-weight: 900;
  color: rgb(26, 188, 156);
}

.main-menu-nav {
  float: right;
}

.main-menu-nav {
  height: 32px;
}

.main-menu-item {
  display: inline-block;
  height: 32px;
}

.main-menu-item:not(:last-child) {
  margin-right: 36px;
}

.main-menu-link {
  line-height: 32px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  color: #555252;
  font-size: 14px;
  font-weight: 900;
}

.main-menu-link:hover,
.main-menu-link:focus {
  color: rgb(26, 188, 156);
}

.section-slider {
  display: block;
  position: relative;
  font-size: 0px;
  padding-bottom: 96px;
}

.section-slider-items {
  display: block;
  width: inherit;
  position: relative;
}

.section-slider-item {
  width: inherit;
  width: 100%;
  height: 600px;
  position: relative;
}

.section-slider-item::after {
  display: block;
  content: "";
  width: inherit;
  max-width: 1600px;
  height: inherit;
  background-color: rgba(0, 0, 2, 0.522);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.section-slider-image {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
  object-fit: cover;
  min-width: 1110px;
  max-width: 100%;
  height: 600px;
}

.slider-box-header {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 770px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  z-index: 4;
}

.slider-tours {
  font-size: 60px;
  text-align: left;
  font-weight: 600;
  line-height: 82px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.slider-descriptions {
  font-size: 24px;
  text-align: left;
  font-weight: 300;
  line-height: 54px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}

.slider-box-button {
  width: 1110px;
  height: 104px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.slider-button-left {
  float: left;
  background-image: url(../img/icons/left-button.png);
}

.slider-button-right {
  float: right;
  background-image: url(../img/icons/right-button.png);
}

.slider-button {
  background-color: rgba(78, 198, 171, 0.651);
  width: 104px;
  height: 104px;
  border-style: none;
}

.slider-button:hover,
.slider-button:focus {
  background-color: rgba(26, 188, 156, 1);
}

.section-collection {
  padding-bottom: 100px;
}

.collection-items {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.section-title {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 84px 0;
  padding: 0px;
}

.section-title::after {
  content: "";
  display: block;
  margin: 34px auto 0;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 8px;
}

.collection-item {
  display: block;
  width: 254px;
  float: left;
  margin: 0 30px 0 0;
  position: relative;
}

.collection-item:last-child {
  margin: 0;
}

.collection-item-link {
  display: block;
  position: relative;
}

.collection-item-box-image {
  position: relative;
}

.collection-icon-overlay {
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(0, 0, 0);
  opacity: 0;
  position: absolute;
  width: 254px;
  height: 282px;
  top: 0;
  left: 0;
  z-index: 1;
}

.collection-item:focus .collection-icon-overlay,
.collection-item:hover .collection-icon-overlay {
  opacity: 0.549;
}

.icon-boxes {
  display: block;
  position: absolute;
  width: 166px;
  height: 108px;
  z-index: 2;
  top: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  font-size: 0px;
}

.icon-box {
  display: inline-block;
  font-size: 0px;
  z-index: 3;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.icons {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #ffffff;
  z-index: 4;
  opacity: 0;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.icon-box:not(:nth-last-child(-n + 2)) {
  margin-right: 8px;
}
.icon-box:not(:last-child) {
  margin-bottom: 8px;
}

.icon-heart {
  background-image: url(../img/icons/hurt.png);
}

.icon-arov {
  background-image: url(../img/icons/cross-arow.png);
}

.icon-clock {
  background-image: url(../img/icons/clock.png);
}

.icon-cart {
  background-color: rgb(50, 50, 50);
  background-image: url(../img/icons/cart.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 50px;
  font-size: 14px;
  font-family: "OpenSans";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  padding-left: 50px;
  text-align: center;
}

.collection-item:focus .icons,
.collection-item:hover .icons {
  opacity: 1;
}

.icons:focus,
.icons:hover {
  background-color: rgb(26, 188, 156);
}

.collection-item-box {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 32px;
  background-color: rgb(50, 50, 50);
  font-weight: 900;
}

.collection-item:focus .collection-item-box,
.collection-item:hover .collection-item-box {
  background-color: rgb(26, 188, 156);
}

.collection-item-header {
  display: inline-block;
  float: left;
  max-width: 200px;

  margin: 0px;
  padding: 4px 0px 4px 12px;
}

.collection-item-price {
  display: inline-block;
  float: right;
  text-align: center;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.439);
  min-width: 54px;
  padding: 4px 0px;
}

.rights-box {
  min-height: 88px;
}

.rights {
  text-align: center;
  line-height: 28px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: rgb(254, 254, 254);
  padding: 30px 0;
  margin: 0;
}

.rights-color-text {
  color: rgb(26, 188, 156);
}
