.form {
  display: flex;
  border: 1px solid $foter-border-color;

  &__input {
    border: 1px solid $foter-border-color;
    width: 228px;
    padding-left: 14px;
    font-size: 15px;
    font-family: $second-font-family;
    color: $first-font-color;
  }

  &__input:required:invalid:focus:not(:placeholder-shown) {
    outline: 1px solid $first-accent-color;
  }

  &__input:required:valid:focus:not(:placeholder-shown) {
    outline: 1px solid $main-color;
  }

  &__input::placeholder {
    font-style: italic;
    color: $placeholder-font-color;
    font-weight: 300;
  }

  &__btn {
    @extend %button;
    font-size: 14px;
    font-family: $first-font-family;
    color: $header-font-color;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: $main-color;
    border: none;
    padding: 12px 32px;
  }
}
