.header {
  padding: 22px 0 230px;
  font-family: $first-font-family;
  color: $header-font-color;

  &__background {
    @include bg-gradient-image(
      linear-gradient(
        rgba($first-accent-color, 0.9),
        rgba($second-accent-color, 0.9)
      ),
      '../images/background/vulture.jpg'
    );

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background: linear-gradient(
          rgba($first-accent-color, 0.9),
          rgba($second-accent-color, 0.9)
        ),
        url('../images/background/vulture@2x.jpg');
    }
  }
}
