.nav {
  display: flex;
  align-items: baseline;
  margin-bottom: 150px;
}

.site-logo:hover .nav--hover,
.site-nav__item:hover .nav--hover,
.site-nav__item:focus .nav--hover {
  color: $second-accent-color;
}
