.services {
  padding-bottom: 64px;

  &__subtitle {
    @extend %subtitle;
  }

  &__title {
    @extend %title;
  }

  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    @extend %list;
    flex-basis: 392px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  &__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 52px;
  }

  &__item-icon {
    @extend %icon;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    fill: $main-color;
  }

  &__item-wraper {
    flex-basis: 300px;
    text-align: left;
  }

  &__item-title {
    font-size: 14px;
    font-family: $first-font-family;
    color: $first-font-color;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0 0 12px 0;
  }

  &__item-desc {
    font-size: 15px;
    font-family: $second-font-family;
    color: $second-font-color;
    line-height: 1.6;
    margin: 0;
  }
}
