.site-nav {
  @extend %list;
  display: flex;
  align-items: center;
  &__item {
    @extend %list;
    &:not(:nth-last-child(-n + 2)) {
      margin-right: 54px;
    }

    &:nth-last-child(2) {
      margin-right: 36px;
    }

    &:after {
      content: '';
      display: block;
      height: 3px;
      width: 0;
      background-color: $header-font-color;
      margin: 10px auto 0;
      transition: all 0.2s linear;
    }
  }

  &__link {
    @extend %link;
    font-size: 14px;
    color: inherit;
    text-transform: uppercase;
    transition: all 0.2s linear;
  }

  &__icon {
    @extend %icon;
    fill: $header-font-color;
    transition: all 0.2s linear;
  }

  &__btn {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    fill: $header-font-color;
  }

  &__item--hover:hover:after,
  &__item--hover:focus:after {
    background-color: $second-accent-color;
    width: 100%;
  }
}

.site-nav__item:hover .site-nav__icon--hover,
.site-nav__item:focus .site-nav__icon--hover {
  fill: $header-accent-font-color;
}
