.social {
  @extend %list;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: $first-accent-color;
  opacity: 0;
  transition: all 0.2s linear;
  &__link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: $second-accent-color;
    transition: all 0.2s linear;
  }
  &__icon {
    @extend %icon;
    width: 32px;
    height: 32px;
    fill: $first-accent-color;
    transition: all 0.2s linear;
  }
  &__item {
    @extend %list;
    &:not(:last-child) {
      margin-right: 2px;
    }
  }
}

.card:hover .social {
  opacity: 0.9;
}

.social__item:hover .social__icon {
  fill: $header-font-color;
}

.social__item:hover .social__link {
  background-color: $first-accent-color;
}
