html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  // outline: 1px solid blue;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visualy-hiden,
input[type='radio'].visualy-hiden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.br {
  display: block;
  line-height: inherit;
}

.center {
  text-align: center;
}

.wraper {
  width: 1200px;
  margin: 0 auto;
}
