.container {
  min-width: 250px;
  margin: 0 auto;
}

* {
  /* outline: 1px solid blue; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  display: block;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

.body {
  padding: 10px;
  font-family: sans-serif;
  color: rgb(144, 0, 0);
  font-size: 16px;
  letter-spacing: 0.01rem;
}
.main {
  flex-grow: 1;
  flex-shrink: 0;
}

.header-container {
  border: 2px solid rgb(238, 221, 221);
  border-radius: 5px;
  padding: 5px;
  background-color: cornsilk;
  margin-bottom: 1px;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  border-radius: 5px;
  border: 2px solid rgb(144, 0, 0);
  border-radius: 5px;
  padding: 10px;
}

.button {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: wheat;
  border: 2px solid rgb(144, 0, 0);
  color: rgb(144, 0, 0);
  transition: all 0.5s ease-out;
  text-align: center;
}

.button:hover {
  background-color: rgb(144, 0, 0);
  color: wheat;
}

.button:not(:last-child) {
  margin-bottom: 5px;
}

/* NEW */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  background-color: #fff;
  color: #212121;
}

.gallery {
  display: grid;
  /* width: 1200px; */
  /* grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: 240px; */
  grid-gap: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 200ms ease-in-out;
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* Lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms linear;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  transition: transform 200ms ease-in-out;
}

.lightbox__image {
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  outline: none;
  background-image: url('../img/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
