:root {
  --first-font-family: "Montserrat", sans-serif;
  --first-font-weight: 700;
  --first-font-size: 14px;

  --second-font-family: "Roboto", sans-serif;
  --second-font-weight: 300;
  --second-font-size: 14px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  /* outline: 1px solid blue; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300.woff") format("woff");
}

/* HEADER */
html {
  font-size: var(--first-font-size);
}

body {
  font-family: var(--first-font-family);
  font-weight: var(--first-font-weight);
  font-size: 1rem;
  color: #ffffff;
}

.wraper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 14px 0;
  margin: 0 auto;
}

.header-wraper {
  background-color: rgb(26, 25, 21);
  background-image: url(../img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px 0 140px;
}

.main-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 34px;
}

.main-menu__nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 118px;
}

.main-menu__nav-item {
  display: flex;
}

.main-menu__nav-item-btn {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  padding: 10px 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.2s linear;
}

.main-menu__nav-item-btn:focus,
.main-menu__nav-item-btn:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.main-menu__logo-link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4286rem;
  letter-spacing: 0.05em;
}

.main-menu__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0 0 20px;
}

.main-menu__text {
  font-family: var(--second-font-family);
  font-weight: var(--second-font-weight);
  font-size: 1.2857rem;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 18px;
}

.main-menu__search-link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 10px 46px;
  background-color: rgb(255, 78, 80);
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.2s linear;
}

.main-menu__search-link:hover {
  border: 2px solid rgba(255, 255, 255, 1);
}

/* SECTION PARTNERS */

.main-wraper {
  padding: 70px 0 58px;
}

.partners {
  color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners__header {
  font-size: 1.5714rem;
  text-align: center;
  margin: 0 0 10px;
}

.partners__list {
  margin-bottom: 20px;
}

.partners__item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  max-width: 300px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0);
  transition: all 0.3s linear;
  padding: 10px 36px;
  height: 100%;
}

.partners__item-link:focus,
.partners__item-link:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
}

.partners__item-photo-box {
  border-radius: 50%;
  font-size: 0;
  position: relative;
  margin-bottom: 20px;
}

.partners__item-photo-box::after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-tv:after {
  content: "";
  background-color: rgb(255, 78, 80);
  background-image: url(../img/icons/icon-tv.png);
}

.icon-flask:after {
  content: "";
  background-color: rgb(255, 165, 7);
  background-image: url(../img/icons/icon-flask.png);
}

.icon-coffe:after {
  content: "";
  background-color: rgb(28, 215, 173);
  background-image: url(../img/icons/icon-coffe.png);
}

.icon-twiter:after {
  content: "";
  background-color: rgb(78, 115, 219);
  background-image: url(../img/icons/icon-twiter.png);
}

.partners__item-photo {
  border-radius: 50%;
}

.partners__item-name {
  text-align: center;
  font-size: 1rem;
  color: #333333;
  margin: 0 0 16px;
}

.partners__item-about {
  text-align: center;
  color: #666666;
  font-family: var(--second-font-family);
  font-weight: var(--second-font-weight);
  margin: 0;
}

.partners__more-partners-link {
  text-decoration: none;
  color: #ff4e50;
  text-align: center;
  padding: 10px 46px;
  border: 2px solid rgba(255, 78, 80, 0);
  transition: all 0.2s linear;
  margin: 0;
}

.partners__more-partners-link:hover {
  border: 2px solid rgba(255, 78, 80, 1);
  border-radius: 20px;
}

@media screen and (max-width: 747px) {
  .partners__item:not(:last-child) {
    margin-bottom: 18px;
  }
}

@media screen and (min-width: 748px) {
  .wraper {
    width: 748px;
    padding: 0 40px;
  }

  .header-wraper {
    padding: 18px 0 0;
    height: 700px;
  }

  .main-menu__nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 150px;
  }

  .main-menu__nav-list {
    margin-bottom: 0;
  }

  .main-menu__header {
    font-size: 3.7143rem;
    padding: 0 80px;
    margin: 0 0 40px;
  }

  .main-menu__text {
    font-size: 1.7143rem;
    margin: 0 0 40px;
  }

  .main-wraper {
    padding: 70px 0 40px;
  }

  .partners__header {
    margin: 0 0 35px;
  }

  .partners__list {
    margin-bottom: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .partners__item {
    width: 236px;
    margin-bottom: 0px;
  }

  .partners__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 28px;
  }

  .partners__item:first-of-type {
    order: 0;
  }
  .partners__item:nth-of-type(2) {
    order: 2;
  }
  .partners__item:nth-of-type(3) {
    order: 1;
  }
  .partners__item:last-of-type {
    order: 3;
  }

  .partners__item-link {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 942px) {
  .wraper {
    width: 942px;
    padding: 0;
  }

  .main-menu__header {
    padding: 0 200px;
  }

  .partners__item {
    width: 220px;
    margin-bottom: 0 !important;
  }
}
