{{#each this}}
<li class="country__item">
      <a class="country__link" href="#">
            <img class="country__flag" alt="flag" src="{{flag}}" width="30px" />
            <h3 class="country__name">{{name}}</h3>
      </a>
</li>
{{/each}}