.body {
  width: 900px;
  margin: 0px auto;
}
header {
  padding-left: 164px;
  padding-top: 74px;
  width: 886;
  margin: 0px 0px 98px 0px;
}
.main-menu {
  margin: 0px;
  width: 572px;
}
.main-menu-nav {
  padding-left: 0px;
  margin: 0px;
  font-size: 0px;
}

.main-menu-link {
  display: inline-block;
}

.main-menu-link:nth-child(1) {
  margin-right: 120px;
}
.main-menu-link:nth-child(2) {
  margin-right: 104px;
}
.main-menu-link:nth-child(3) {
  margin-right: 94px;
}
.main-menu-link:nth-child(4) {
  margin-right: 0px;
}

.main-menu-link a {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 24px;
}

.main-menu-link a:focus,
.main-menu-link a:hover {
  color: rgb(3, 169, 243);
}

.main {
  width: 900px;
  margin-bottom: 70px;
}

.main-comtent-wraper {
  width: 900px;
  margin: 0px auto;
  font-size: 0px;
}

.main-section {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 132px;
  vertical-align: top;
}

.main-section:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}
.main-section:nth-child(2n) {
  margin-right: 0px;
}

.main-comtent-wraper {
  margin-bottom: 56px;
}

.main-section-image {
  margin-bottom: 32px;
}

.main-section-text {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 32px;
  margin-top: 0px;
  font-weight: 300;
}

.main-section-heading {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 0px;
}

.main-section-paragraph {
  font-size: 14px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  margin: 0px;
}

.main-section-button button {
  display: inline-block;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  background-color: rgb(255, 255, 255);
  padding: 16px 32px;
  border: 1px solid rgb(98, 98, 98);
  margin: 0 auto;
  cursor: pointer;
}

.main-section-button {
  width: 164px;
  margin: 0 auto;
}
