* {
  outline: 1px solid red;
}

.body {
  width: 1200px;
  height: 1446px;
  /* font-size: 0px; */
}

.main-section {
  display: inline-block;
  width: 420px;
}

.main-menu-nav {
  width: auto;
  margin: auto;
  font-size: 0px;
  background-color: aqua;
}

.main-menu-link {
  display: inline-block;
  width: 100px;
  /* height: 50px; */
  margin-right: 35px;
  background-color: burlywood;
  padding: 10px 0px 10px 0px;
}

.main-menu-link a {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: chartreuse;
}
