:root {
  --first-font-family: "Montserrat", sans-serif;
  --second-font-family: "Roboto", sans-serif;
  --third-font-family: "Kaushan Script", italic;
}

@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    url("../fonts/montserrat-v14-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-300italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

* {
  /* outline: 1px solid blue; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

.wraper {
  width: 1200px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.icon {
  display: block;
  height: 100%;
  width: 100%;
}

.list {
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.br {
  display: block;
  line-height: inherit;
}

.button {
  font-family: var(--first-font-family);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.title {
  font-family: var(--first-font-family);
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--third-font-family);
}

/* HEADER */

.header {
  padding: 22px 0 230px;
  font-family: var(--first-font-family);
  color: rgb(255, 255, 255);
}

.header__background {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(252, 227, 138, 0.9)),
      to(rgba(243, 129, 129, 0.9))
    ),
    url("../img/vulture.jpg");
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url("../img/vulture.jpg");
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url("../img/vulture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 150px;
  font-family: var(--first-font-family);
}

.site-logo {
  margin-right: auto;
}

.site-logo__link {
  font-size: 30px;
  font-family: inherit;
  color: inherit;
  font-weight: bold;
  line-height: 1.2;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-nav__item:not(:nth-last-child(-n + 2)) {
  margin-right: 54px;
}

.site-nav__item:nth-last-child(2) {
  margin-right: 36px;
}

.site-nav__link {
  font-size: 14px;
  font-family: inherit;
  color: inherit;
  text-transform: uppercase;
  line-height: 1.2;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.site-nav__item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: rgb(255, 255, 255);
  margin: 10px auto 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.site-logo:hover .nav--hover,
.site-nav__item:hover .nav--hover,
.site-nav__item:focus .nav--hover {
  color: rgb(252, 227, 138);
}

.site-nav__item--hover:hover:after,
.site-nav__item--hover:focus:after {
  background-color: rgb(252, 227, 138);
  width: 100%;
}

.site-nav__icon {
  fill: rgb(255, 255, 255);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.site-nav__item:hover .site-nav__icon--hover,
.site-nav__item:focus .site-nav__icon--hover {
  fill: rgb(252, 227, 138);
}

.site-header__subtitle {
  display: block;
  margin-bottom: 36px;
  font-size: 72px;
}

.site-nav__btn {
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  fill: rgb(255, 255, 255);
}

.site-header__title {
  font-size: 150px;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin: 0 0 92px;
}

.site-header__button {
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 3px solid rgb(255, 255, 255);
  line-height: 1;
  padding: 10px 28px;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.site-header__button--hover:hover,
.site-header__button--hover:focus {
  color: rgb(243, 129, 129);
  border: 3px solid rgb(243, 129, 129);
}

.main {
  padding: 44px 0 78px;
}

.section__subtitle {
  display: block;
  font-size: 24px;
  color: rgb(51, 51, 51);
  line-height: 1.5;
  margin-bottom: 8px;
}

.section__title {
  font-size: 30px;
  margin: 0 0 42px 0;
}

.section__title::after {
  content: "";
  display: block;
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 36px;
}

.section__desc {
  font-size: 15px;
  font-family: var(--second-font-family);
  color: rgb(153, 153, 153);
  line-height: 1.6;
  width: 980px;
  margin: 0 auto 90px;
}

.services {
  padding-bottom: 64px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__item {
  -ms-flex-preferred-size: 392px;
  flex-basis: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0;
}

.services__item-icon {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  fill: rgb(149, 225, 211);
}

.services__item-wraper {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  text-align: left;
}

.services__item-title {
  font-size: 14px;
  font-family: var(--first-font-family);
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0 0 12px 0;
}

.services__item-desc {
  font-size: 15px;
  font-family: var(--second-font-family);
  color: rgb(153, 153, 153);
  line-height: 1.6;
  margin: 0;
}

.services__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 52px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__box {
  margin-bottom: 26px;
  background-color: rgb(149, 225, 211);
}

.card__img-box {
  position: relative;
}

.card__img-box::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(252, 227, 138)),
    to(rgb(243, 129, 129))
  );
  background-image: -o-linear-gradient(rgb(252, 227, 138), rgb(243, 129, 129));
  background-image: linear-gradient(rgb(252, 227, 138), rgb(243, 129, 129));
  opacity: 0;
  z-index: 1;
  top: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.card:hover .card__img-box::after {
  opacity: 0.9;
}

.card__img {
}

.card__img-box--effect {
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.card:hover .card__img-box--effect {
  top: -10px;
  left: -10px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgb(243, 129, 129);
  opacity: 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.card:hover .socials {
  opacity: 0.9;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgb(252, 227, 138);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social__icon {
  width: 32px;
  height: 32px;
  fill: rgb(243, 129, 129);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social__item:not(:last-child) {
  margin-right: 1px;
}

.social__item:hover .social__icon {
  fill: rgb(255, 255, 255);
}

.social__item:hover .social__link {
  background-color: rgb(243, 129, 129);
}

.card__name {
  font-size: 14px;
  font-family: var(--first-font-family);
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 8px;
}

.card__position {
  font-size: 15px;
  font-family: var(--cecond-font-family);
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
}

.footer {
  border-top: 2px solid rgb(229, 229, 229);
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.copyright {
  font-size: 14px;
  font-family: var(--first-font-family);
  color: rgb(51, 51, 51);
  line-height: 1.2;
}

.copyright__link {
  color: #f38181;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgb(229, 229, 229);
}

.form__input {
  border: 1px solid rgb(229, 229, 229);
  width: 228px;
  padding-left: 14px;
  font-size: 15px;
  font-family: var(--second-font-family);
  color: rgb(51, 51, 51);
}

.form__input:required:invalid:focus:not(:placeholder-shown) {
  outline: 1px solid rgb(243, 129, 129);
}

.form__input:required:valid:focus:not(:placeholder-shown) {
  outline: 1px solid rgb(149, 225, 211);
}

.form__input::-webkit-input-placeholder {
  font-style: italic;
  color: rgb(204, 204, 204);
  font-weight: 300;
}

.form__input::-moz-placeholder {
  font-style: italic;
  color: rgb(204, 204, 204);
  font-weight: 300;
}

.form__input:-ms-input-placeholder {
  font-style: italic;
  color: rgb(204, 204, 204);
  font-weight: 300;
}

.form__input::-ms-input-placeholder {
  font-style: italic;
  color: rgb(204, 204, 204);
  font-weight: 300;
}

.form__input::placeholder {
  font-style: italic;
  color: rgb(204, 204, 204);
  font-weight: 300;
}

.form__btn {
  font-size: 14px;
  font-family: var(--first-font-family);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(149, 225, 211);
  border: none;
  padding: 12px 32px;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 192dpi) {
  .header__background {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url("../img/vulture@2x.jpg");
    background: -o-linear-gradient(rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)),
      url("../img/vulture@2x.jpg");
    background: linear-gradient(rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9)),
      url("../img/vulture@2x.jpg");
  }
}
