$first-font-family: 'Montserrat', sans-serif;
$second-font-family: 'Roboto', sans-serif;
$third-font-family: 'Kaushan Script', italic;

$header-font-color: rgb(255, 255, 255);
$header-accent-font-color: rgb(252, 227, 138);

$first-font-color: rgb(51, 51, 51);
$second-font-color: rgb(153, 153, 153);

$placeholder-font-color: rgb(204, 204, 204);

$main-color: rgb(149, 225, 211);
$first-accent-color: rgb(243, 129, 129);
$second-accent-color: rgb(252, 227, 138);

$foter-border-color: rgb(229, 229, 229);
